@import '../../variables';

.dashBoard {
    display: flex;
    flex-direction: column;

    .dashHeader {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;

        .dashlogo {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                height: 45px;
            }
        }

        .dashBtn {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
            margin-right: 1.5rem;

            a {
                cursor: pointer;
                color: $text-color-black;

                &:hover {
                    color: $primary_color-500;
                }
            }

            .p-avatar {
                cursor: pointer;
            }

        }
    }

    .dashContent {
        background-color: $primary-color-light;
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;
        min-height: 94vh;

        section {
            max-width: 1400px;
        }
    }
}

.sidebar {
    .p-sidebar-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sideProfile {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0 40px;

            .sideProfile-name {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h3,
                p {
                    margin: 0;
                }
            }
        }

        .sideAccount,
        .sideCourses,
        .sideHelp {
            background-color: #ffffffe0;
            margin: 20px 20px 0 0;
            padding: 20px 0;
            border-radius: 15px;

            ul {
                padding-left: 1rem;
                margin: 0;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        padding: 5px 0 5px 10px;
                        color: black;
                        font-size: 1rem;

                        &:hover {
                            cursor: pointer;
                            color: $primary_color-500;
                        }

                        span.p-badge {
                            color: black;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }

        .sideLogout {
            display: flex;
            justify-content: center;
            margin-top: auto;
            padding: 20px 0;
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
    .dashBoard {
        .dashHeader {
            .dashBtn {
                a {
                    display: none;
                }
            }
        }
    }
}