@import '../../variables';

.dashBoard {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 5rem 1fr;
    gap: 0;
    grid-template-areas:
        "header header"
        "nav content";
    height: 100vh;
    transition: grid-template-columns .3s ease;

    &.collapsed {
        grid-template-columns: 80px 1fr;

        .dashNav {
            width: 80px;
            transition: width 0.3s ease;

            .dashNav-container {
                padding: 1rem;

                .dashNav-lists {
                    ul {
                        padding-left: 0;

                        li {
                            position: relative;

                            a {
                                justify-content: center;

                                span {
                                    display: none;
                                }

                                &::before {
                                    content: attr(data-tooltip);
                                    display: none;
                                    position: absolute;
                                    left: 100%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    white-space: nowrap;
                                    background-color: $text-color-white;
                                    color: $text-color-black;
                                    font-size: .8rem;
                                    margin-left: .5rem;
                                    padding: 0.5rem;
                                    border-radius: 0.3rem;
                                    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
                                }

                                &:hover::before {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dashHeader {
        grid-area: header;
        position: fixed;
        width: 100%;
        height: 5rem;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: .6rem;
        z-index: 999;

        .dashHeader-container {
            display: flex;
            justify-content: space-between;
            background-color: $text-color-white;
            box-shadow: $shadow_color 0px 1px 4px;
            border-radius: 1rem;
            padding: 0 2rem;
            width: 100%;
            height: 100%;

            .dashHeader-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .2rem;

                img {
                    height: 45px;
                }

                h2 {
                    font-size: 1.3rem;
                    margin: 0;
                }
            }

            .dashBtn {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                .p-avatar {
                    cursor: pointer;
                    fill: $text-color-white;

                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }

    .dashNav {
        grid-area: nav;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100vh;
        width: 280px;
        max-height: calc(100vh - 5rem);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: .6rem;
        transition: width 0.3s ease;

        .dashNav-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            padding: 1rem 1rem;
            background-color: $primary_color-800;
            box-shadow: $shadow_color 0px 1px 4px;

            .nav-btn {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: $text-color-white;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        color: $primary_color-300;
                    }
                }
            }

            .dashNav-lists {
                width: 100%;
                transition: padding-left 0.3s ease, margin-top 0.3s ease;

                div {
                    display: flex;
                    gap: 1rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        padding-left: 1rem;
                        margin-top: 1rem;

                        li {
                            a {
                                display: flex;
                                align-items: center;
                                gap: .8rem;
                                color: $text-color-white;
                                font-size: 1.2rem;

                                svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    fill: $text-color-white;
                                }

                                &:hover {
                                    cursor: pointer;
                                    color: $primary_color-300;

                                    svg {
                                        fill: $primary_color-300;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dashContent {
        grid-area: content;
        display: flex;
        justify-content: center;
        padding: .6rem;

        .dashContent-container {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }
}

.dashMobileNav {
    display: none;
    z-index: 1000;
}

.sidebar {
    .p-sidebar-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .sideProfile {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0 40px;

            .sideProfile-icon {
                .p-avatar {
                    cursor: pointer;
                    fill: $text-color-white;

                    svg {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
            }

            .sideProfile-name {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h3,
                p {
                    margin: 0;
                }
            }
        }

        .sideAccount,
        .sideHelp {
            background-color: #ffffffe0;
            margin: 20px 20px 0 0;
            padding: 20px 0;
            border-radius: 15px;

            ul {
                padding-left: 1rem;
                margin: 0;

                li {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        padding: 5px 0 5px 10px;
                        color: black;
                        font-size: 1rem;

                        svg {
                            width: 1.2rem;
                            height: 1.2rem;
                            fill: $text-color-black;
                        }

                        &:hover {
                            cursor: pointer;
                            color: $primary_color-500;

                            svg {
                                fill: $primary_color-500;
                            }
                        }
                    }
                }
            }
        }

        .sideLogout {
            display: flex;
            justify-content: center;
            margin-top: auto;
            padding: 20px 0;
        }
    }
}

@media (max-width: 768px) {
    .dashBoard {
        display: flex;
        flex-direction: column;

        .dashNav {
            display: none;
        }

        .dashContent {
            margin-top: 6rem;
        }
    }

    .sidebar {
        display: none;
    }

    .dashMobileNav {
        display: block;
        z-index: 1000;
    }
}

@media (max-width: 480px) {
    .dashBoard {
        .dashHeader {
            .dashHeader-container {
                padding: 0 2rem 0 1rem;

                .dashBtn {
                    a {
                        display: none;
                    }
                }
            }
        }

    }
}