@import '../../variables';

.favorites {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 768px) {
        padding: 0 1rem;
    }

    @media (max-width: 480px) {
        padding: 0;
    }
}