@import '../../variables';

.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .p-dropdown {
        width: 100%;
        margin-bottom: 2rem;
    }

    .coursesList {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        width: 100%;
        max-width: 1300px;
    }
}