$bg-color: #f4f4f4;
$bg-color-secondary: #fAfAfA;

$primary_color-50: #faf7fc;
$primary_color-100: #f5eef9;
$primary_color-200: #e9dcf2;
$primary_color-300: #d8c0e7;
$primary_color-400: #c19bd7;
$primary_color-500: #a672c3;
$primary_color-600: #8a54a5;
$primary_color-700: #734389;
$primary_color-800: #5f3870;
$primary_color-900: #51325d;
$primary_color-950: #31173b;

$primary_text: #282828;