@import '../../variables';

.myCourses {
    display: flex;
    flex-direction: column;
    width: 100%;

    .coursesUser {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 1rem;
    }

    @media (max-width: 768px) {
        padding: 0 1rem;
    }

    @media (max-width: 480px) {
        padding: 0;

        .coursesUser {
            justify-content: center;
            margin: 0;
        }
    }
}